/*
  Icon Font: germany-iconfont
*/

@font-face {
  font-family: "germany-iconfont";
  src: url("./germany-iconfont_cb7c3552c93602b7ec0af0563651c85c.eot");
  src: url("./germany-iconfont_cb7c3552c93602b7ec0af0563651c85c.eot?#iefix") format("embedded-opentype"),
       url("./germany-iconfont_cb7c3552c93602b7ec0af0563651c85c.woff") format("woff"),
       url("./germany-iconfont_cb7c3552c93602b7ec0af0563651c85c.ttf") format("truetype"),
       url("./germany-iconfont_cb7c3552c93602b7ec0af0563651c85c.svg#germany-iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "germany-iconfont";
    src: url("./germany-iconfont_cb7c3552c93602b7ec0af0563651c85c.svg#germany-iconfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-baden-wuerttemberg:before,
.icon-bayern:before,
.icon-berlin:before,
.icon-brandenburg:before,
.icon-bremen:before,
.icon-hamburg:before,
.icon-hessen:before,
.icon-mecklenburg-vorpommern:before,
.icon-niedersachsen:before,
.icon-nordrhein-westfalen:before,
.icon-rheinland-pfalz:before,
.icon-saarland:before,
.icon-sachsen:before,
.icon-sachsen-anhalt:before,
.icon-schleswig-holstein:before,
.icon-thueringen:before {
  display: inline-block;
  font-family: "germany-iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-baden-wuerttemberg:before { content: "\f137"; }
.icon-bayern:before { content: "\f138"; }
.icon-berlin:before { content: "\f139"; }
.icon-brandenburg:before { content: "\f13a"; }
.icon-bremen:before { content: "\f13b"; }
.icon-hamburg:before { content: "\f13c"; }
.icon-hessen:before { content: "\f13d"; }
.icon-mecklenburg-vorpommern:before { content: "\f13e"; }
.icon-niedersachsen:before { content: "\f13f"; }
.icon-nordrhein-westfalen:before { content: "\f140"; }
.icon-rheinland-pfalz:before { content: "\f141"; }
.icon-saarland:before { content: "\f142"; }
.icon-sachsen:before { content: "\f143"; }
.icon-sachsen-anhalt:before { content: "\f144"; }
.icon-schleswig-holstein:before { content: "\f145"; }
.icon-thueringen:before { content: "\f146"; }
